<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成绩列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/css/demo.css}">
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/js/validateExtends.js}"></script>
    <script type="text/javascript" th:src="@{/highcharts/highcharts.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(function() {

            $("#studentList").combobox({
                width: "150",
                height: "25",
                valueField: "id",
                textField: "username",
                multiple: false, //可多选
                editable: false, //不可编辑
                method: "post",
                url: [[@{/student/getStudentList(from=combox)}]],

        });

            //下拉框通用属性
            $("#studentList").combobox({
                width: "200",
                height: "30",
                valueField: "id",
                textField: "username",
                multiple: false, //不可多选
                editable: false, //不可编辑
                method: "post",
            });


            $("#search-btn").click(function () {
                $('#charts-div').load('load',{
                    studentid: $("#studentList").combobox('getValue') == '' ? 0 : $("#studentList").combobox('getValue'),
                })


            })



            // //搜索按钮监听事件
            // $("#search-btn").click(function(){
            //     $('#charts-div').load('load',{
            //         studentid: $("#studentList").combobox('getValue') == '' ? 0 : $("#studentList").combobox('getValue'),
            //     });
            // })

        });
        /*]]>*/
    </script>

</head>
<body>
 <!--数据列表 -->
<!--<table id="dataList" cellspacing="0" cellpadding="0"></table>-->
<!-- 工具栏 -->
 <div id="charts-div" style="width:100%;height:500px;">123</div>
 <div id="toolbar" class="datagrid-toolbar" >
    <div style="margin-top: 3px;">
        按学生查看：<input id="studentList" class="easyui-textbox" name="studentList" />
        <a id="search-btn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-sum',plain:true">查看成绩动态</a>
    </div>

 </div>


</body>

<script type="text/javascript" th:src="@{/easyui/js/echarts.common.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('charts-div'));

    var sid = [];
    var scor1 = [];
    var scor2 = [];
    var scor3 = [];
    var scor4 = [];
    var scor5 = [];
    var scor6 = [];
    // 指定图表的配置项和数据
    $.ajax({
        type:"GET",
        url:"/trace/getDynamicList",
        dataType:"json",
        asyn:false,
        success:function (result) {
            for(var i = 0;i<result.length;i++){
                sid.push(result[i].id);
                scor1.push(result[i].score1);
                scor2.push(result[i].score2);
                scor3.push(result[i].score3);
                scor4.push(result[i].score4);
                scor5.push(result[i].score5);
                scor6.push(result[i].score6);
            }
        },
        error:function (errorMsg) {
            alter("获取后台数据失败")；
        }
    });

    var option={
        title:{
            test:"学生成绩动态追踪"
        },
        tooltip:{},
        legend:{
            data:['张三']
        },
        xAxis:{
            data:['1','2','3','4','5','6']
        },
        yAxis:{},
        series:[{
            name:'张三',
            type:'line',
            data:[scor1,scor2,scor3,scor4,scor5,scor6]
        }]
    }
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

</html>