<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成绩列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/css/demo.css}">
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/js/validateExtends.js}"></script>
    <script type="text/javascript" th:src="@{/highcharts/highcharts.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(function() {

            $("#studentList").combobox({
                width: "150",
                height: "25",
                valueField: "id",
                textField: "username",
                multiple: false, //可多选
                editable: false, //不可编辑
                method: "post",
                url: [[@{/student/getStudentList(from=combox)}]],

        });

            //下拉框通用属性
            $("#studentList").combobox({
                width: "200",
                height: "30",
                valueField: "id",
                textField: "username",
                multiple: false, //不可多选
                editable: false, //不可编辑
                method: "post",
            });


            $("#search-btn").click(function () {
                $('#charts-div').load('load',{
                    studentid: $("#studentList").combobox('getValue') == '' ? 0 : $("#studentList").combobox('getValue'),
                })


            })



            // //搜索按钮监听事件
            // $("#search-btn").click(function(){
            //     $('#charts-div').load('load',{
            //         studentid: $("#studentList").combobox('getValue') == '' ? 0 : $("#studentList").combobox('getValue'),
            //     });
            // })

        });
        /*]]>*/
    </script>

</head>
<body>
 <!--数据列表 -->
<!--<table id="dataList" cellspacing="0" cellpadding="0"></table>-->
<!-- 工具栏 -->
 <div id="charts-div" style="width:100%;height:500px;">123</div>
 <!--<div id="toolbar" class="datagrid-toolbar" >-->
    <!--<div style="margin-top: 3px;">-->
        <!--按学生查看：<input id="studentList" class="easyui-textbox" name="studentList" />-->
        <!--<a id="search-btn" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-sum',plain:true">查看成绩动态</a>-->
    <!--</div>-->

 </div>


</body>

<script type="text/javascript" th:src="@{/easyui/js/echarts.common.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
    // 基于准备好的dom，初始化echarts实例
    $(document).ready(function () {

    var myChart = echarts.init(document.getElementById('charts-div'));

    var stuname = [];
    var values = []
    // 指定图表的配置项和数据
    $.ajax({
        type:"post",
        url:"/trace/show",
        dataType:"json",
        data:{},
        asyn:true,
        success:function (result) {
            if(result){
                values.push(result.score1);
                values.push(result.score2);
                values.push(result.score3);
                values.push(result.score4);
                values.push(result.score5);
                values.push(result.score6);
                stuname.push(result.studentName);
               myChart.hideLoading();
               myChart.setOption({
                   //加载数据图表
                   title:{
                       text:'学生成绩动态追踪'
                   },
                   legend:{
                       data:['张三','李四','王五']
                   },
                   xAxis:{
                       data:["第一次成绩","第二次成绩","第三次成绩","第四次成绩","第五次成绩","第六次成绩"]
                   },
                   yAxis:{},
                   series:[
                       {
                           name:'张三',
                           type:'line',
                           data:[86,55,55,77,88,99]
                        },
                       {
                           name:'李四',
                           type:'line',
                           data:[55,44,66,74,55,71]
                       },
                       {
                           name:'王五',
                           type:'line',
                           data:[78,69,33,44,55,66]
                       },

                   ]
               });
            }
        },
        error:function (errorMsg) {
            alter("获取后台数据失败");
            myChart.hideLoading();
        }
    });


    });
</script>

</html>